/* Footer styles  */

footer {
  color: white;
  margin-top: 50px;
}
footer div {
  display: flex;
  flex-direction: row;
  gap: 6px;
}
footer p {
  margin-top: 10px;
  text-align: center;
  padding-right: 6px;
}
footer a {
  display: inline-block;
  color: var(--yellow);
}
